extends ../layouts/default
block content
	if category
		h1=category
	.container
		if projects.length
			.grid
				each project, index in projects
					if project.heroImage.exists
						.grid-item
							a(href='/projekt/' + project.key)
								img(src=project._.heroImage.limit(900,900)).img-rounded
								.project_excerpt_container
									each category in project.categories
										span.project_categories=category.name + ' '
									h3.project_name= project.name
									p.project_description= project.shortDescription
					else
						.grid-item : p=project.name
		else
			h3.text-muted There are no image galleries yet.
