extends ../layouts/default
block content
  main.project
    if project
      header
        h1.project_name= project.name
      .container
        .project_description
          p!=project.description
        .project_gallery
          //- img.heroImage(src=project._.heroImage.limit(1600,1400) alt=project.name secure=true).img-rounded
          if project.images.length
            each img, index in project.images
              img(src=img.limit(1200,1200) secure=true alt=project.name title='obrazek ' + (index + 1)).img-rounded
    else
      h1 nie ma takiego projektu
    .container
      h2.additional_projects_headline Najnowsze projekty z kategorii
        each category in categoriesNames
          span.categorylinks
            a(href='/kategorie/' + category rel='tag')=' ' + category
      if projects.length
        .grid
          .grid-sizer
            include grid_item
